* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #cbfdf7;
  margin: 0;
  padding: 50px;
  max-width: 50%;
}

form {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

label {
  display: inline-block;
  margin-bottom: 10px;
  text-align: right;
}

h2 {
  color: #323030;
  text-align: center;
  margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #295e2a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  border: 2px solid rgb(14, 243, 106);
}

input[type="submit"]:hover {
  background-color: #45a049;
}

a {
  float: right;
  padding: 10px;
  border-radius: 13px;
  background-color: #fbfb09;
  color: #1b1b1b;
  padding: 4px 10px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 13px;
  cursor: pointer;
  border: 2px solid rgb(116, 114, 5);
  box-sizing: border-box;
  margin-bottom: 20px;
}
