body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #f2ecec;
  margin: 0;
  padding: 20px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  max-width: 400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #006166;
  margin-left: 150px;
  font-weight: 900;
}

h2 {
  color: #02590f;
  text-align: center;
}

.email {
  text-align: center;
}

legend {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

fieldset {
  border: none;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #420475;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #006166;
}
